@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
/* IMPORT FONT */

/* Main content styling */
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f2f0e6;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Books styling */
.book__section {
  display: flex;
  align-items: center;
  width: 11vw;
  aspect-ratio: 1/1;
  border: 0.5px solid black;
  border-radius: 10%;
  cursor: pointer;
}

/* Books names styling */
.book__section p {
  width: 10vw;
  padding: 1rem;
  text-align: center;
}

/* The rest is modal styling*/
.popup__overlay {
  position: fixed;
  display: none;
  width: 100%;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup {
  position: fixed;
  display: none;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  background-color: white;
  z-index: 2;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fefefe;
  border-bottom: 1px solid #888;
}

.popup__close {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.popup__close:hover,
.popup__close:focus {
  color: red;
}

.popup__body {
  padding: 20px;
}
